<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ma.covid.shield">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="ma.covid.shield.activities.HowToActivity"></activity>
        <activity android:name="ma.covid.shield.activities.AboutActivity" />

        <receiver
            android:name="ma.covid.shield.receivers.RestartReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="ma.covid.shield.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ma.covid.shield.MainActivity" />
        </activity>
        <activity android:name="ma.covid.shield.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="ma.covid.shield.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ma.covid.shield.receivers.RestartReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="ma.covid.shield.services.TagsManagerService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>